In [559]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests
import lxml
import time

# link format dictionary
Base: 
https://www.seek.com.au/


https://www.seek.com.au/data-scientist-jobs/in-All-Sydney-NSW?salaryrange=0-30000&salarytype=annual
https://www.seek.com.au/data-scientist-jobs/in-All-Sydney-NSW?page=2&salarytype=annual

In [577]:
# https://www.seek.com.au/data-scientist-jobs?page=2&salaryrange=30000-50000&salarytype=annual

# input values for search
salary_ranges = ['0-30000', 
                 '30000-40000', 
                 '40000-50000', 
                 '50000-60000', 
                 '60000-70000',
                 '70000-80000'
                 '80000-100000',
                 '100000-120000',
                '120000-150000',
                '150000-200000',
                '200000-999999']

search_terms = ['data-scientist', 'data-engineer', 'data-analyst', 'data-warehousing', 'big-data', 'business-analyst', 'data']


# data i want to scrape
job_title = []
job_link = []
salary_range = []
search_term = []
company_name = []
short_description = []
job_area = []
salary_amount_searchpage=[]
job_location = []

job_counter = 0

# search every search term above for every salary range above
for term in search_terms:
    
    for salary in salary_ranges:
        
        # search for searchterm and salary to get the number of pages there are for each search
        url = 'https://www.seek.com.au/'+ term + '-jobs?salaryrange='+ salary + 'salarytype=annual'
        res = requests.get(url)
        soup = BeautifulSoup(res.content, features='html.parser')

        # try and except in case of NoneType error when there are zero search results
        try:
            number_of_jobs = int(soup.find('strong', {'data-automation':'totalJobsCount'}).text.replace(',',''))
        except:
            number_of_jobs = 0
            
        # find number of pages by dividing number of jobs by 20 (jobs per page)
        number_of_pages = number_of_jobs // 20 + (number_of_jobs % 20 > 0)
        
        # for each page in search, find job titles     
        for number in np.arange(1,number_of_pages):
            url = 'https://www.seek.com.au/'+ term + '-jobs?page='+ str(number)+ '&salaryrange='+ salary + '&salarytype=annual'
            res = requests.get(url)
            soup = BeautifulSoup(res.content, features='html.parser')
            
            jobs_on_page = soup('article')
            
            # for each job on the page, find job title, link, and attach salary range and search term info to the job
            for i in range(len(jobs_on_page)):
                
                job_counter += 1
                
                print('Jobs scraped: %d' % job_counter, end='\r')
                
                job_title.append(soup('article')[i]['aria-label'])
                job_link.append(soup('article')[i].h1.a['href'])
                company_name.append(soup('article')[i]('a', {'target': '_self'})[1].text)
                short_description.append(soup('article')[i].find('span', {'data-automation':'jobShortDescription'}).text)
                job_location.append(soup('article')[i].find('a', {'data-automation':'jobLocation'}).text)
                salary_range.append(salary)
                search_term.append(term)
                
                try:
                    salary_amount_searchpage.append(soup('article')[i].find_all('span', {'data-automation':'jobSalary'})[0].text)
                except:
                    salary_amount_searchpage.append(np.nan)
                try:
                    job_area.append(soup('article')[i].find('a', {'data-automation': 'jobArea'}).text)
                except:
                    job_area.append(np.nan)
                
pre_data = {'job_title': job_title,
            'job_link': job_link, 
            'salary_range': salary_range, 
            'search_term': search_term,
            'company_name': company_name,
            'short_description': short_description,
            'job_location': job_location,
            'job_area': job_area,
            'salary_amount_searchpage': salary_amount_searchpage}


pre_data_df = pd.DataFrame(pre_data)
pre_data_df

,job_title,job_link,salary_range,search_term,company_name,short_description,job_location,job_area,salary_amount_searchpage
0,Earth Observation Data Scientist,/job/50338431?type=standard#searchRequestToken...,0-30000,data-scientist,Canberra Consulting,Our client is seeking the services of several ...,ACT,NaN,NaN
1,Earth Observation Data Scientist,/job/50327472?type=standout#searchRequestToken...,0-30000,data-scientist,Peoplebank Australia ACT,Seeking a skilled Earth Observation Data Scien...,ACT,NaN,NaN
2,Data Scientist,/job/50313622?type=standout#searchRequestToken...,0-30000,data-scientist,Peoplebank Australia VIC,Our client is a leader in the Australian super...,Melbourne,NaN,NaN
3,3 x Data Engineers,/job/50372208?type=standout#searchRequestToken...,0-30000,data-scientist,Peoplebank Australia ACT,Seeking Skilled Data Engineers for Cloud Based...,ACT,NaN,NaN
4,Data Specialist,/job/50328036?type=standout#searchRequestToken...,0-30000,data-scientist,Ignite,Experience in the practical application of dat...,ACT,NaN,NaN
...,...,...,...,...,...,...,...,...,...
79317,ORACLE BPM Developer-Contract Role,/job/50380704?type=promoted#searchRequestToken...,200000-999999,data,Collaborative Consulting,Oracle BPM Developer. Federal Government Proje...,ACT,NaN,NaN
79318,Chief Product Officer,/job/50301625?type=promoted#searchRequestToken...,200000-999999,data,PracticeHub,Unique opportunity for a Chief Product Officer...,Sydney,"CBD, Inner West & Eastern Suburbs",NaN
79319,Lead Business Analyst,/job/50272790?type=promoted#searchRequestToken...,200000-999999,data,Talent – Winner ‘Seek Large Recruitment Agency...,Tier 1 Financial Services Organisation CBD L...,Sydney,"CBD, Inner West & Eastern Suburbs",$850 - $950 per day
79320,Lead Data Engineer,/job/50287300?type=promoted#searchRequestToken...,200000-999999,data,Michael Page Information Technology,Are you top tier AWS Data Engineer? I'm seekin...,Sydney,"CBD, Inner West & Eastern Suburbs",$200k - $240k p.a.
79321,Senior Site Manager | Tier 2 | Data Centre & C...,/job/50395555?type=promoted#searchRequestToken...,200000-999999,data,Michael Page Property & Construction,Senior Site Manager - (5 - 8) years' experienc...,Sydney,North Shore & Northern Beaches,incentives

In [578]:
dropped_duplicates = pre_data_df.drop_duplicates(subset=['job_title', 'company_name', 'short_description', 'job_location', 'job_area'])
dropped_duplicates

,job_title,job_link,salary_range,search_term,company_name,short_description,job_location,job_area,salary_amount_searchpage
0,Earth Observation Data Scientist,/job/50338431?type=standard#searchRequestToken...,0-30000,data-scientist,Canberra Consulting,Our client is seeking the services of several ...,ACT,NaN,NaN
1,Earth Observation Data Scientist,/job/50327472?type=standout#searchRequestToken...,0-30000,data-scientist,Peoplebank Australia ACT,Seeking a skilled Earth Observation Data Scien...,ACT,NaN,NaN
2,Data Scientist,/job/50313622?type=standout#searchRequestToken...,0-30000,data-scientist,Peoplebank Australia VIC,Our client is a leader in the Australian super...,Melbourne,NaN,NaN
3,3 x Data Engineers,/job/50372208?type=standout#searchRequestToken...,0-30000,data-scientist,Peoplebank Australia ACT,Seeking Skilled Data Engineers for Cloud Based...,ACT,NaN,NaN
4,Data Specialist,/job/50328036?type=standout#searchRequestToken...,0-30000,data-scientist,Ignite,Experience in the practical application of dat...,ACT,NaN,NaN
...,...,...,...,...,...,...,...,...,...
78101,Account Director,/job/50338420?type=standard#searchRequestToken...,150000-200000,data,imei Pty Ltd,Account Director,Sydney,North Shore & Northern Beaches,$250K+ OTE
78131,DevOps Specialist,/job/50306352?type=standard#searchRequestToken...,150000-200000,data,MTP Services,Excellent opportunity for an experienced DevOp...,ACT,NaN,NaN
78140,Head of Customer Success,/job/50353792?type=standout#searchRequestToken...,150000-200000,data,JobAdder Pty Ltd,Market leading Australian SaaS company\r\nNewl...,Sydney,"CBD, Inner West & Eastern Suburbs",NaN
78209,Administrator,/job/50285102?type=standard#searchRequestToken...,150000-200000,data,Educational Case Management Pty Ltd,About the business Administrator to support a...,"Newcastle, Maitland & Hunter",NaN,$100 - $100+ per hour
78610,Senior Enterprise Architect,/job/50421487?type=standout#searchRequestToken...,200000-999999,data,Talent – Winner ‘Seek Large Recruitment Agency...,Deliver high quality strategic architecture ar...,ACT,NaN,NaN

In [608]:
date_posted = []
location = []
job_category = []
work_type = []
salary_amount = []
long_description = []

job_counter = 0

for link in dropped_duplicates.job_link:
    
    job_counter += 1
    print('Jobs scraped: %d' % job_counter, end='\r')
    
    url = 'https://www.seek.com.au/' + link
    res = requests.get(url)
    soup = BeautifulSoup(res.content, features='html.parser')

    info = soup('dl')
    try:
        date_posted.append(info[0].dd.text)
    except:
        date_posted.append(np.nan)
    try:   
        location.append(info[0].find('strong').text)
    except:
        location.append(np.nan)
    try:
        job_category.append(info[0]('strong')[1].text)
    except:
        job_category.append(np.nan)
    try:
        work_type.append(info[0]('span')[7].text)
    except:
        work_type.append(np.nan)
    try:
        salary_amount.append(soup('dd')[7].text)
    except:
        salary_amount.append(np.nan)
    try:
        long_description.append(soup.find_all('div', {'data-automation': 'jobDescription'}).text.strip)
    except:
        long_description.append(np.nan)

    
page_data = {'date_posted': date_posted,
             'location': location,
             'job_category': job_category,
             'work_type': work_type,
             'salary_amount': salary_amount,
             'long_description': long_description}

pd.DataFrame(page_data)

,date_posted,location,job_category,work_type,salary_amount,long_description
0,3 Aug 2020,ACT,Information & Communication Technology,Contract/Temp,"Information & Communication Technology, Archit...","[[[<div class=""_28sXRcp"" data-automation=""desk..."
1,31 Jul 2020,ACT,Information & Communication Technology,Contract/Temp,"Information & Communication Technology, Archit...","[[[<div class=""_28sXRcp"" data-automation=""desk..."
2,29 Jul 2020,Melbourne,Information & Communication Technology,Contract/Temp,"Information & Communication Technology, Databa...","[[[<div class=""_28sXRcp"" data-automation=""desk..."
3,10 Aug 2020,ACT,Information & Communication Technology,Contract/Temp,"Information & Communication Technology, Archit...","[[[<div class=""_28sXRcp"" data-automation=""desk..."
4,31 Jul 2020,ACT,Information & Communication Technology,Contract/Temp,"Information & Communication Technology, Consul...","[[[<div><div class=""_2e4Pi2B"" data-automation=..."
...,...,...,...,...,...,...
17761,3 Aug 2020,Sydney,Information & Communication Technology,",",$250K+ OTE,"[[[<div><div class=""_2e4Pi2B"" data-automation=..."
17762,28 Jul 2020,ACT,Information & Communication Technology,Contract/Temp,"Information & Communication Technology, Other","[[[<div class=""_28sXRcp"" data-automation=""desk..."
17763,6 Aug 2020,Sydney,CEO & General Management,",","CEO & General Management, Other","[[[<div class=""_28sXRcp"" data-automation=""desk..."
17764,23 Jul 2020,"Newcastle, Maitland & Hunter",Administration & Office Support,$100 - $100+ per hour,$100 - $100+ per hour,"[[[<div><div class=""_2e4Pi2B"" data-automation=..."
17765,NaN,NaN,NaN,NaN,NaN,[]

In [610]:
page_data_df = pd.DataFrame(page_data)

In [622]:
raw_data = pd.concat([dropped_duplicates.reset_index(drop=True), page_data_df], axis=1)